
.social{
    margin: 0 auto 0 50px;
}

.social a{
    display: inline-flex;
    justify-content: center;
    text-align: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 6px;
    text-decoration: none;
    transition: all 0.5s ease;
}

.social a:hover{
    background: #fff;
}

.social a i{
    display: flex;
    font-size: 25px;
    color:rgb(197, 197, 197);
    padding-top: 6px;
    transition: all 0.5s ease;
}

.social a:hover i{
    color: #444;
}


.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.slider .slide{
    position: absolute;
    width: 100%;
    height: 100vh;
}

.slide img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    z-index: -1;
    transition: 0.3 ease;
}

.slide.active img{
    z-index: -1;
    opacity: 1;
}

.slide .left-info{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    transform: translateX(-100%);
    transition: 0s;
}

.slide.active .left-info{
    transform: translateX(0);
    z-index: 1;
    transition: 1s ease;
}

.left-info .penetrte-blur{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.penetrte-blur h1{
    font-size: 160px;
     color: #00ffff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 5);
}

.left-info .content{
    position: absolute;
    bottom: 8%;
    left: 10%;
    color: #00ffff;
}

.content h3{
    font-size: 27px;
}

.content p{
    font-size: 18.3px;
    margin: 10px 0 1.5rem;
}

.content .btn{
    display: inline-block;
    padding: 0.6rem 1rem;
    background: #fff;
    border: 1.4px solid white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 1.3rem;
    color:black;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.5s ease;
}

.content .btn:hover{
    background: transparent;
    color: #00ffff;
}

.slide .right-info{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    transition: 0s;
}

.slide.active .right-info{
    transform: translateX(0);
    z-index: 1;
    transition: 1s ease;
}

.right-info h1{
    font-size: 160px;
    color: #00ffff;
}

.right-info h3{
    position: absolute;
    font-size: 65px;
    color: #00ffff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: translateY(190%);
    margin-left: 1.3rem;
}

.navigation{
    position: absolute;
    bottom: 8%;
    right: 5%;
    z-index: 99;
}

.navigation span{
    display: inline-flex;
    width: 3.7rem;
    height: 3.7rem;
    background: #fff;
    border: 1.8px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    margin-left: 2.5rem;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
}

.navigation span:nth-child(1){
    background: transparent;
}

.navigation span:nth-child(1):hover{
    background: #fff;
}

.navigation span i{
    color: #444;
    transition: all .5s ease;
}

.navigation span:nth-child(1) i{
    color: #00ffff;
}

.navigation span:nth-child(1):hover i{
    color: #444;
}



@media (max-width: 1200px) {
    .penetrte-blur h1 {
      font-size: 120px;
    }
  
    .right-info h1 {
      font-size: 120px;
    }
  
    .right-info h3 {
      font-size: 50px;
    }
  }
  
  @media (max-width: 992px) {
    .slide .left-info {
      width: 60%;
    }
    
    .slide .right-info {
      width: 40%;
    }
  
    .penetrte-blur h1 {
      font-size: 100px;
    }
  
    .right-info h1 {
      font-size: 100px;
    }
  
    .right-info h3 {
      font-size: 40px;
    }
  
    .content h3 {
      font-size: 24px;
    }
  
    .content p {
      font-size: 16px;
    }
  
    .content .btn {
      font-size: 1.1rem;
    }
}

  @media (max-width: 768px) {
    .slide .left-info {
      width: 100%;
    }
    .banner{
        width: 100%;
        height: 69.69vh;
    }
    .banner .slider .slide{
        height: 69.69vh;
    }
    .slide .right-info {
      display: none;
    }
  
    .penetrte-blur h1 {
      display: none;
      font-size: 80px;
    }
    
    .left-info .content {
      left: 5%;
    }
    
    .banner .slider .content h3 {
      font-size: 1.05em;
    }
  
    .banner .slider .content p {
      font-size: 0.6em;
    }

    .banner .slider .content .btn {
      font-size: 0.69em;
      padding: 0.29em 0.42em;
    }

    .content .btn {
      font-size: 1rem;
    }
  
    .navigation {
      right: 3%;
    }
  
    .navigation .prev-btn {
      font-size: 0.5em;
      width: 1.8rem;
      height:1.8rem;
      margin-left: 1.5rem;
    }
    .navigation .next-btn {
      font-size: 0.5em;
      width: 1.8rem;
      height:1.8rem;
      margin-left: 1.5rem;
    }
  }
 
  @media (max-width: 576px) {
    .social {
      margin: 0 auto 0 20px;
    }
  
    .social a {
      width: 35px;
      height: 35px;
    }
  
    .social a i {
      font-size: 20px;
    }
  
    .penetrte-blur h1 {
      font-size: 60px;
    }
  
    .content h3 {
      font-size: 18px;
    }
  
    .content p {
      font-size: 12px;
    }
  
    .content .btn {
      font-size: 0.9rem;
    }
  
    .navigation span {
      width: 2.5rem;
      height: 2.5rem;
      margin-left: 1rem;
    }
  }
